h1{
    text-align: center;
    color: black;
    margin-top: 40px;
}
h2{
    text-align: left;
    color: black;
    margin-top: 20px;
}
body{
    background-color: white;
    font-family: Arial, sans-serif;
}